@tailwind base;
@tailwind components;
@tailwind utilities;

.home-title {
  text-align: center;
  /* Centrar el texto */
  margin: 20px 0;
  /* Espaciado arriba y abajo */
  font-size: 2.5em;
  /* Tamaño de fuente */
  color: #333;
  /* Color del texto */
}

:root {
  --color-bg: #FFF3E3;
  /* Color de fondo principal */
  --color-text: #8B4513;
  /* Marrón para el texto o bordes */
  --color-pink: #FFB6C1;
  /* Rosa pastel */
  --color-yellow: #FFFACD;
  /* Amarillo claro */
  --color-button: #FF7F50;
  /* Coral para botones */
}

/* Estableciendo el fondo de la aplicación */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Estilo de enlaces */
a {
  color: var(--color-pink);
  text-decoration: none;
}

a:hover {
  color: var(--color-yellow);
}

/* Botón */
button {
  background-color: var(--color-button);
  color: white;
  border: none;
}

button:hover {
  background-color: darken(var(--color-button), 10%);
  /* Añade un efecto hover si usas Sass */
}

.navbar {
  background-color: var(--color-button);
  /* Cambia 'var(--color-button)' al color que quieras */
  padding: 1rem;
  /* Espaciado interno */
}

.navbar a {
  color: white;
  /* Cambiar color de texto de los enlaces */
  text-decoration: none;
  /* Eliminar subrayado */
}

.navbar a:hover {
  color: rgba(255, 255, 255, 0.8);
  /* Efecto hover en los enlaces */
}