@tailwind base;
@tailwind components;
@tailwind utilities;

/* Raíz de configuración para estilos globales */
:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilos de enlace */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
  /* Cambiar a 'none' para evitar subrayado */
}

a:hover {
  color: #5c10df;
}

/* Estilo del cuerpo */
body {
  margin: 0;
  display: flex;
  align-items: flex-start;
  /* o 'center', según necesites */
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  /* Asegúrate de que el fondo esté definido */
}

/* Estilos para títulos */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: inherit;
  /* Asegúrate de que se herede el color correctamente */
}

/* Estilos para botones */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

button:hover {
  border-color: #646cff;
  background-color: #2a2a2a;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Estilos para el modo claro */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
    color: #000;
    /* Color del texto en tema claro */
  }
}

/* Estilos específicos para contenedor y productos */
.container {
  max-width: 1200px;
  /* Ajusta el ancho máximo según tus necesidades */
  margin: auto;
  /* Centrar el contenedor */
  padding: 1rem;
  /* Espaciado alrededor del contenido */
}

.product-item {
  margin-bottom: 2rem;
  /* Espaciado entre productos */
}

/* Estilos para el Card de Bootstrap (opcional) */
.card {
  transition: transform 0.3s;
  /* Efecto al pasar el ratón */
}

.card:hover {
  transform: scale(1.05);
  /* Efecto de zoom al pasar el ratón */
}